.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
facebook-android-sdk-4.0.1/build/intermediates/manifests/tmp/manifestMerger7906252516124370615.xml
facebook-android-sdk-4.0.1/build/intermediates/resources/resources-debug-androidTest.ap_
facebook-android-sdk-4.0.1/build/outputs/aar/facebook-android-sdk-4.0.1-debug.aar
facebook-android-sdk-4.0.1/build/outputs/aar/facebook-android-sdk-4.0.1-release.aar
ParseLoginUI/build/intermediates/bundles/debug/classes.jar
ParseLoginUI/build/intermediates/bundles/release/classes.jar
ParseLoginUI/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$3.class
ParseLoginUI/build/intermediates/exploded-aar/com.facebook.android/facebook-android-sdk-4.0.1/4.0.1/jars/classes.jar
facebook-android-sdk-4.0.1/build/intermediates/bundles/debug/classes.jar
facebook-android-sdk-4.0.1/build/intermediates/bundles/release/classes.jar
ParseLoginUI/build/intermediates/manifests/tmp/manifestMerger4546394213430233406.xml
ParseLoginUI/build/intermediates/manifests/tmp/manifestMerger7331593512312627845.xml
ParseLoginUI/build/intermediates/resources/resources-debug-androidTest.ap_
ParseLoginUI/build/outputs/aar/ParseLoginUI-debug.aar
ParseLoginUI/build/outputs/aar/ParseLoginUI-release.aar
facebook-android-sdk-4.0.1/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
ParseLoginUI/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
