<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisecityllc.cookedapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allow you to get LOGCAT information when a crash occurs. -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Allows location to be tracked -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.wisecityllc.cookedapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wisecityllc.cookedapp.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-feature android:name="android.hardware.camera" /> -->
    <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <!-- This used to be the name of the applicaiton tag -->
    <!-- android:name=".App" -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".activities.PreLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PostLoginActivity"
            android:label="@string/title_activity_post_login" >
        </activity>
        <activity
            android:name=".activities.CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".activities.GroupDetailsActivity"
            android:label="@string/title_activity_group_details" >
        </activity>
        <activity
            android:name=".activities.InviteMembersActivity"
            android:label="@string/title_activity_invite_members" >
        </activity>

        <!-- All this comes from the parse push quick starter guide https://www.parse.com/apps/quickstart#parse_push/android/native/existing -->
        <!-- PARSE PUSH -->

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.wisecityllc.cookedapp" />
            </intent-filter>
        </receiver>

        <!-- PARSE PUSH -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d73bd1f29c7de60137b18d4cabe784353625ad5f" />

        <activity
            android:name=".activities.MessageWallActivity"
            android:label="@string/title_activity_message_wall" >
        </activity>
        <activity
            android:name=".activities.GroupsListActivity"
            android:label="@string/title_activity_groups_list" >
        </activity>
        <activity
            android:name=".activities.UserDetailsActivity"
            android:label="@string/title_activity_user_details" >
        </activity>
        <activity
            android:name=".activities.EditUserDetailsActivity"
            android:label="@string/title_activity_edit_user_details" >
        </activity>
    </application>

</manifest>
